@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.fancy_scroll-bar::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}

.fancy_scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #9b9a9a;
}

.fancy_scroll-bar::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  border-radius: 10px;
}
